body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 0.8125rem;
  max-width: 100%;
  background-image: url("img/beautiful-view-waterfall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background 2s ease-in-out;
  overflow: hidden;
}

/* Ajuste para a logo */
#google-logo {
  width: 15rem;
  margin: 20% auto 1.5625rem auto;
  display: block;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/* Cabeçalho */
#navbar {
  margin-top: 1.25rem;
  text-align: right;
}

.nav-list {
  padding: 0 1.5625rem;
}

.nav-list li {
  display: inline-block;
  list-style: none;
  padding: 0.3125rem 0.625rem;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 0.8125rem;
}

.nav-list li a:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

/* Input */
#input-box {
  width: 100%;
  max-width: 700px;
  height: 3rem;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  height: 100%;
  width: 100%;
  border-radius: 1.5625rem;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0 3rem 0 2.5rem;
  border: 1px solid #dfe1e5;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(32, 33, 36, 0.28);
  transition: box-shadow 0.2s ease-in-out;
}

/* Ícones dentro do input */
#search-icon,
#keyboard-icon,
#mic-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: white;
  z-index: 1;
}

#search-icon {
  left: 1.2rem;
}

#keyboard-icon {
  right: 3rem;
  cursor: pointer;
}

#mic-icon {
  right: 1.2rem;
  color: #1a73e8;
  cursor: pointer;
}

/* Adicionando imagens dentro dos ícones */
#search-icon img,
#keyboard-icon img,
#mic-icon img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

/* Responsividade para telas pequenas */
@media (max-width: 360px) {
  #input-box {
    width: 90%; /* Ajusta a largura do input para 90% da tela */
  }

  #search-input {
    padding: 0 2rem 0 2rem;
    font-size: 0.875rem;
  }

  #search-icon,
  #keyboard-icon,
  #mic-icon {
    font-size: 1rem; /* Ajuste para ícones menores em telas pequenas */
  }

  #search-icon img,
  #keyboard-icon img,
  #mic-icon img {
    width: 1rem;
    height: 1rem;
  }

  #search-icon {
    left: 1rem;
  }

  #keyboard-icon {
    right: 2rem;
  }

  #mic-icon {
    right: 1rem;
  }
}

/* Responsividade para telas maiores (notebooks, etc.) */
@media (min-width: 788px) {
  #input-box {
    width: 60%; /* Ajusta para 60% da largura da tela em notebooks */
  }

  #search-input {
    padding: 0 3.5rem 0 2.5rem;
    font-size: 1rem;
  }

  #search-icon,
  #keyboard-icon,
  #mic-icon {
    font-size: 1.25rem;
  }

  #search-icon img,
  #keyboard-icon img,
  #mic-icon img {
    width: 1.25rem;
    height: 1.25rem;
  }

  #search-icon {
    left: 1rem;
  }

  #keyboard-icon {
    right: 3rem;
  }

  #mic-icon {
    right: 1rem;
  }
}
